body{
    background-color: rgba(31, 135, 161, 0.5);
    font-family: 'Rubik', sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.root {
    width: 100%;
    background-color: rgba(32, 129, 168, 0.712);
    margin-bottom: 3%;
    color: white;
    /* background: transparent; */
}

.header_content{
    display: flex;
    justify-content: space-between;
}

/* .menuButton {
    margin-right: 12rem !important;
} */

.addshop{
    margin-top: 2% !important;
    
}
.button_addshop{
    background-color: rgba(18, 124, 36, 0.74) !important;
    color: white !important;
}



@media (max-width: 770px){
    .container{
        margin: 0 10%;
    }
    .root{
        margin-bottom: 10%;
    }
}